# Gradle
.gradle/
build/
app/build/
gradle-home/

# 本机构建环境（各人自行下载，不入库）
_tools/

# 逆向中间产物（含官方 APK，体积大且涉及版权，不入库）
_rev/

# IDE
.idea/
*.iml
.vscode/
captures/

# 本地配置
local.properties
probe.txt

# 本机自动生成的 debug 签名（由 app/build.gradle.kts 指向 .android/）
.android/

# 签名（绝不入库）
*.jks
*.keystore
keystore.properties

# 系统
.DS_Store
Thumbs.db
